@font-face {
    font-family: 'ITC Charter';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/CharterITCbyBT-Roman.woff2') format('woff2'),
        url('fonts/CharterITCbyBT-Roman.woff') format('woff');
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: 'ITC Charter';
    font-size: 62.5%;
    font-style: normal;
    font-weight: normal;
    width: 100%;
}

body {
    display: block;
    font-size: 1.6em;
    padding: 2em;
    width: 100%;
}

h1 {
    font-size: 1.8em;
}

main ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
    main ul li {
        border: solid 1px #000;
        margin: 1em 0;
        padding: 1em;
        width: 100%;
    }

body.modal-opened #modal-wrapper {
    display: block;
}

#modal-wrapper {
    background: white;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

#modal {
    width: 100%;
    z-index: 999;
    padding: 2em;
    font-size: 1.1em;
    line-height: 1.6em;
}
    #modal img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

.modal-header {
    background: #000;
    bottom: 0;
    display: inline-block;
    height: 35px;
    left: 0;
    position: fixed;
    z-index: 9;
    width: 100%;
}
    .modal-header a {
        color: #FFF;
        line-height: 2.6em;
        margin: 0 20px;
        text-transform: uppercase;
    }

.article-header {
    display: flex;
    list-style: none;
}
    .article-header li {
        margin-right: 10px;
    }